/* input append */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top:8px;
}

.input-append {
  display: inline-block;
}

.input-select {
  position:relative;
  width:100%;
  z-index: 100;
}

.input-append + .help-inline, input[type="button"] + .help-inline {
  margin-left:14px;
}

.input-append > input {
-webkit-border-radius:4px 0 0 4px ;
       -moz-border-radius: 4px 0 0 4px;
      border-radius:4px 0 0 4px;
display:inline-block;
}

.input-append > .btn-group {
  margin-top:0;
  width:30px;
  height:28px;
  white-space: nowrap;
  word-spacing: 0;
  margin-left:0;
  display:inline-block;
}
.input-append > .btn-group > .btn-small {
  margin-left:0;
  line-height:20px;
  border-left:0 none;
  -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
  display:inline-block;
}

.input-append > .btn-group > .btn-small:hover{
  border:1px solid #cccccc;
  border-left:0 none;
}

/**
 * UI dropdown
 *
 * @section dropdown
 */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left:0;
	min-width:100%;
	white-space: nowrap;
	*width:186px;
	z-index: 100;
	display:none;
	padding: 5px 0;
	margin: 1px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	text-color:#333333;
}

.dropdown-menu li {
	margin:0;
	text-align:left;
}
.divider {
	border-top:1px solid #cccccc;
	height:1px;
}

.dropdown-menu li a {
	display: block;
	font-size:14px;
	color:#333333;
	cursor:pointer;
	padding:3px 8px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #ed7020;
}

.info-block {
	display:inline-block;
	font-size:14px;
	padding:0;
	padding-top:4px;
	margin-bottom:0;
	line-height:22px;
}